.search_input {
    //flex-grow: 1;
    background: $dark-blue;
    color: $off-white;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    margin: 0 0 $s-size 0;
    // padding: $s-size;
}